/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

@font-face {
    font-family: 'Waldorf';
    src: url('./WaldorfSchrift/TVA-69545.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
    background-color: rgb(254, 254, 243);
    height: 100%;
    padding-bottom: 1vw;
}

/* layout */

.grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2vw;
    height: 100vh;
    padding: 0vw 3vw 0vw 2vw;
}

.column1,
.column2 {
    overflow-y: auto;

}

.column1::-webkit-scrollbar,
.column2::-webkit-scrollbar {
    display: none;
}

.column1 {
    grid-column: 1;

}

.column2 {
    grid-column: 2;
    padding-bottom: 2vw;
    width: 100%;
    position: relative;
}

.icon-placeholder {
    width: 90vw;
    height: 1vw;
    flex-shrink: 0;
}

.icon {
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: 0;
    z-index: 999;
}

.icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.icon img.hover {
    opacity: 0;
}

.icon:hover img.hover {
    opacity: 1;
}

.icon:hover img.default {
    opacity: 0;
}

/* body styling*/

.Delhi,
.delhi a:hover,
.delhi-link a:hover,
.subheading1 {
    color: #c8222b;
}

.UP,
.up a:hover,
.up-link a:hover,
.subheading2 {
    color: #db4b4b;
}

.Rajasthan,
.rajasthan a:hover,
.subheading3 {
    color: #fb891f;
}

.Gujarat,
.gujarat a:hover,
.gujarat-link a:hover,
.subheading4 {
    color: #f8bc0a;
}

.Maharashtra,
.maharashtra a:hover,
.maharashtra-link a:hover,
.subheading5 {
    color: #b7c334;
}

.Telangana,
.telangana a:hover,
.telangana-link a:hover,
.subheading6 {
    color: #33a86c;
}

.Karnataka,
.karnataka a:hover,
.karnataka-link a:hover,
.subheading7 {
    color: #3abdc9;
}

.Tamil-Nadu,
.tamil-nadu a:hover,
.tamil-nadu-link a:hover,
.subheading8 {
    color: #4352c2;
}

/* left side menu */
.state1 {
    font-size: 2vw;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2vh 0vh 1vh 0vh;
}

.school1 {
    font-size: 1.5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    line-height: 2.1vw;
    padding: 1vh 0vh 3vh 0vh;
}

span {
    font-size: 1.5vw;
    font-weight: 300;
}

.form {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
}

a {
    color: black;
    text-decoration: none;
}

/* mouse interaction */
.follower {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    animation-name: follower_animation;
    animation-duration: 5s;
    /* longer fade */
    animation-timing-function: ease-out;
    filter: blur(10px);
    mix-blend-mode: multiply;
}


@keyframes follower_animation {
    0% {
        opacity: 0.8;
        transform: scale(0.2);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* right pages */

.menu1 {
    padding-top: 8vw;
}

.main-heading {
    font-size: 2.5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5.5vw 0vw 1vw 0vw;
}

.heading {
    font-size: 2.5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    margin: 5.5vw 0vw 1vw 0vw;
}

.subheading,
.subheading1,
.subheading2,
.subheading3,
.subheading4,
.subheading5,
.subheading6,
.subheading7,
.subheading8,
.subheading9 {
    font-size: 2vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0vw 1vw 0vw;
}

.section {
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-weight: 700;
}

.text,
.text1,
.delhi-link,
.up-link,
.rajasthan-link,
.gujarat-link,
.maharashtra-link,
.telangana-link,
.karnataka-link,
.tamil-nadu-link {
    font-size: 1.5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    line-height: 2vw;
}

.text1,
.text {
    margin-bottom: 1.5vw;
}

.hyperlink-arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 0;
    padding-right: 1vw;
    font-size: 1.2vw;
}

ol {
    padding-left: 3vw;
    margin: 0.5vw;
}

li {
    margin: 1vw;
}

/* image carousel */

.carousel {
    position: relative;
    width: 90%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;

    -webkit-mask-image:
        linear-gradient(to top, transparent, black 1%, black 99%, transparent),
        linear-gradient(to left, transparent, black 1%, black 99%, transparent);
    mask-image:
        linear-gradient(to top, transparent, black 1%, black 99%, transparent),
        linear-gradient(to left, transparent, black 1%, black 99%, transparent);

    -webkit-mask-composite: intersect;
    mask-composite: intersect;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    background: none;
    border: none;
    color: black;
    pointer-events: auto;
    /* allow clicking */
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 5;
    transform: translate(-50%, -50%);
    cursor: pointer;
}