/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

@font-face {
    font-family: 'WaldorfSchrift';
    src: url('./WaldorfSchrift/TVA-69545.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
    background-color: beige;
}

/* menu */

.Maharashtra {
    padding: 3.5vh 0vh 1vh 0vh;
    color: #EE8734;
}

.Telangana {
    padding: 3.5vh 0vh 1vh 0vh;
    color: #6D7BEC;
}

.Karnataka {
    padding: 3.5vh 0vh 1vh 0vh;
    color: #D32C33;
}

.state {
    font-size: 4vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    text-transform: uppercase;
}

.school {
    font-size: 4vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    line-height: 5.2vw;
}

span {
    font-size: 2.5vw;
    font-weight: 200;
}

a {
    color: black;
    text-decoration: none;
}

.maharashtra a:hover {
    color: #EE8734;
    font-weight: 300;
}

.telangana a:hover {
    color: #6D7BEC;
    font-weight: 300;
}

.karnataka a:hover {
    color: #D32C33;
    font-weight: 300;
}


/* navbars */
.grid {
    display: grid;
    grid-template-columns: 6% 88% 6%;
    height: 100vh;
}

.menu {
    grid-column: 2;
    padding-left: 1vw;
}

.right p {
    grid-column: 3;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-evenly;
    gap: 70vh;
}

.left p {
    grid-column: 1;
    transform: rotate(270deg);
    display: flex;
    justify-content: space-evenly;
    gap: 70vh;
}

#top1 {
    position: fixed;
    top: 15%;
    left: -5%;
}

#bottom1 {
    position: fixed;
    top: 86%;
    left: -1.2%;
}

#top2 {
    position: fixed;
    top: 12%;
    right: -3.25%;
}

#bottom2 {
    position: fixed;
    top: 87%;
    right: -0.25%;
}

.right,
.left {
    font-size: 3.5vw;
    font-family: 'WaldorfSchrift';
    font-weight: 200;
}

#bottom1:hover a {
    color: #4ED58F;
}

#top1:hover a {
    color: #90CFC6;
}

/* mouse interaction */
.follower {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    animation-name: follower_animation;
    animation-duration: 5s;
    /* longer fade */
    animation-timing-function: ease-out;
    filter: blur(10px);
    mix-blend-mode: multiply;
}

.followerHyperlink {
    position: absolute;
    width: 1080px;
    height: 1080px;
    margin-top: -540px;
    margin-left: -540px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    animation-name: follower_animation;
    animation-duration: 1s;
    /* longer fade */
    animation-timing-function: ease-out;
    filter: blur(10px);
    mix-blend-mode: multiply;
}


@keyframes follower_animation {
    0% {
        opacity: 0.8;
        transform: scale(0.2);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* About page */

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    /* padding: 1vw; */
}

.subheading {
    font-size: 4vw;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 2.5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    line-height: 3vw;
}

.accordion {
    padding: 1vw;
    transition: background-color 0.3s ease;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-bottom: 0.15vw solid #6D7BEC;
    padding: 0 1vw;
}

.accordion.active+.panel {
    max-height: auto;
    /* adjust as needed */
    padding-top: 1vw;
    padding-bottom: 1vw;
}

ol {
    padding-left: 4vw;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 0;
    padding-right: 1vw;
    font-size: 4vw;
}

/* When accordion is active, rotate the arrow */
.accordion.active .arrow {
    transform: scaleY(-1);
}