/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

@font-face {
    font-family: 'WaldorfSchrift';
    src: url('./WaldorfSchrift/TVA-69545.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
}

p {
    font-size: 3vw;
    font-family: 'WaldorfSchrift';
    font-weight: 100;
}

.state {
    font-size: 5vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    text-transform: uppercase;
}

.Maharashtra {
    padding: 1vh 0vh 2vh 0vh;
}

.Telangana {
    padding: 5vh 0vh 2vh 0vh;
}

.Karnataka {
    padding: 5vh 0vh 2vh 0vh;
}

.school {
    font-size: 4vw;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    line-height: 4.5vw;
}

a {
    color: black;
    text-decoration: none;
}

.maharashtra a:hover {
    color: #D32C33;
    animation: rainbow 1s linear infinite;
}

.telangana a:hover {
    color: #FDCE45;
    animation: rainbow 1s linear infinite;
}

.karnataka a:hover {
    color: #6D7BEC;
    animation: rainbow 1s linear infinite;
}

/* @keyframes rainbow {
    0% {
        color: #D32C33;
    }

    20% {
        color: #EE8734;
    }

    40% {
        color: #FDCE45;
    }

    60% {
        color: #4ED58F;
    }

    80% {
        color: #90CFC6;
    }

    100% {
        color: #6D7BEC;
    }
} */


span {
    font-size: 2.5vw;
    font-weight: 200;
}


/* .right p {
    transform: rotate(270deg);
}

.right-navbar {
    width: auto;
    position: relative;
    left: -3%;
    margin: 0;
    padding-top: 5.5vw;
    padding-left: 0vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70vh;
    flex-shrink: 0;
}

.left p {
    transform: rotate(90deg);
}

.left-navbar {
    width: auto;
    position: relative;
    left: -3%;
    gap: 70vh;
} */

/* navbars */
.grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    height: 100vh;
}

.left p {
    grid-column: 1;
    transform: rotate(270deg);
    display: flex;
    justify-content: space-evenly;
    gap: 70vh;
    position: fixed;
    top: 12%;
    left: -5%;
}

#bottom1 {
    position: fixed;
    top: 86%;
    left: -3.5%;
}

#bottom2 {
    position: fixed;
    top: 90%;
    right: -1%;
}

.menu p {
    grid-column: 2;
}

.right p {
    grid-column: 3;
    transform: rotate(90deg);
    display: flex;
    justify-content: space-evenly;
    gap: 70vh;
    position: fixed;
    top: 6%;
    right: -2%;
}


/* mouse interaction */
.follower {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    animation-name: follower_animation;
    animation-duration: 10s;
    /* longer fade */
    animation-timing-function: ease-out;
    filter: blur(15px);
    mix-blend-mode: multiply;
}

@keyframes follower_animation {
    0% {
        opacity: 0.8;
        transform: scale(0.2);
    }

    /*     20% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.3;
        transform: scale(1);
    } */

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* About page */

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 2vw;
    /* Optional: space between the columns */
    padding: 2vw;
}

.about_images img {
    width: 100%;
    height: auto;
    display: block;
}